@{
    ViewData["Title"] = "About Us";
}

<div class="row">
  <div class="card aboutUs">
    <p class="name">Marisa Edgar</p>
    <p class="infos"><a class="linky" href="https://www.linkedin.com/in/marisa-edgar/">LinkedIn</a></p>
    <p class="infos"><a class="gh" href="https://github.com/marisa-edgar">Github</a></p>
  </div>
  <div class="card aboutUs">
    <p class="name">Mikah Mathews</p>
    <p class="infos"><a class="linky" href="https://www.linkedin.com/in/mikah-mathews">Linkedin</a></p>
    <p class="infos"><a class="gh" href="https://github.com/mikah-mathews">Github</a></p>
  </div>
  <div class="card aboutUs">
    <p class="name">Chase Stokes</p>
    <p class="infos"><a class="linky" href="https://www.linkedin.com/in/chasehstokes/">LinkedIn</a></p>
    <p class="infos"><a class="gh" href="https://github.com/Chase-Stokes">Github</a></p>
  </div>  
  <div class="card aboutUs">
    <p class="name">Isaac Overstreet</p>
    <p class="infos"><a class="linky" href="https://www.linkedin.com/in/isaac-overstreet/">LinkedIn</a></p>
    <p class="infos"><a class="gh" href="https://github.com/mrunderoad">Github</a></p> 
  </div>
  <div class="card aboutUs">
    <p class="name">Zachary Green</p>
    <p class="infos"><a class="linky" href="https://www.linkedin.com/in/zachary-alexander-green/">Linkedin</a></p>
    <p class="infos"><a class="gh" href="https://github.com/Ultra-Zactimus">GitHub</a></p>
  </div>
  <div class="card aboutUs">
    <p class="name">Project Repositories</p>
    <p class="infos"><a class="linky" href="https://github.com/mrunderoad/StarTrekAPI">API Repository</a></p>
    <p class="infos"><a class="gh" href="https://github.com/mrunderoad/StarTrekMvc.Solution">MVC Repository</a></p>
  </div>
</div>
