/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* CUSTOM CSS BELOW HERE */





@import "compass/css3";

body {
  background: rgb(193, 27, 27);
}
  
.timeline-wrapper {
  display: block;
  width: 90%;
  height: 15rem;
  position: relative;
  color: #fff;
  text-align: center;
  margin: 0 auto;
   
  .timeline-line {
    display: block;
    width: 93.9%;
    height: 1px;
    background: white;
    position: absolute;
    top: 50%;
    -webkit-box-shadow: 0 0 1px black;
    -moz-box-shadow: 0 0 1px black;
    box-shadow: 0 0 1px black;
    left: 3%;
    margin-left: 2.5px;
  }
  
  .timeline-content-day {
    height: 100%;
  }
    
  .timeline-content-item {
    background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
    width: 6%;
    display: inline-block;
    position: relative;
    height: 100%;
    margin-right: -5px;
    -webkit-transition: width .5s;
    -moz-transition: width .5s;
    -o-transition: width .5s;
    transition: width .5s;
    z-index: 1;
  
    > span {
      height: 2rem;
      display: block;
      font-weight: bold;
      position: absolute;
      top: 50%;
      margin-top: -.25em;
      width: 100%;
      text-shadow: 0 0 2px black;
      cursor: pointer;
      
      &:before {
        content: " ";
        display: block;
        width: .5em;
        height: .5em;
        background: white;
        margin: 0 auto .5em auto;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -webkit-box-shadow: 0 0 1px black;
        -moz-box-shadow: 0 0 1px black;
        box-shadow: 0 0 1px black;
      }
    }

    .timeline-content-item-reveal {
      display: none;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -50%;
      width: 100%;
      
      a {
        display: block;
        width: 100%;
        height: 100%;
        
        img {
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          max-height: 100%;
          max-width: 100%;
          border: 3px solid white;
          -webkit-box-shadow: 0 0 2px black;
          -moz-box-shadow: 0 0 2px black;
          box-shadow: 0 0 2px black;
        }
        
        span {
          position: absolute;
          width: 250%;
          margin-left: -75%;
          bottom: -2rem;
          left: 0;
          font-family: serif;
          font-size: 1.3em;
          font-style: italic;
          text-decoration: none;
          white-space: nowrap;
          color: white;
          text-shadow: 0 0 2px rgba(0, 0, 0, 0.5), 0 0 1px black;
          &:after {
            content: "\203A";
            margin-left: .3em;
          }
        }
      }
      
      
    }
    
    
    
    &.active {
      width: 10%;
      .timeline-content-item-reveal {
        display: block;
      }
    }
  }
}
