@{
    ViewData["Title"] = "Ty Will!";
}

<h5 class="intro">The Star Trek Timeline: An Epicodus Team Week Odyssey</h5>
<br>
<div class="row">
    <div class="col-md-4">
        <div class="jobs">
            <p class="test">Jobs... The Final Frontier...
                <br>These are the voyages of Epicodus Music-Cohort.
                <br>Its four day mission to explore strange new code.
                <br>To seek out new documentation and implementations.
                <br>To boldly go where almost every student has gone before!
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="project">
            <h5>Welcome to Our Project!</h5>
        </div>
        <div class="projectInfo">
            <p class="test">This was a passion project from the mind of Marisa Edgar and codeveloped by Isaac Overstreet, Chase Stokes, Mikah Mathews and Zachary Green. We set out to create a comprehensive database that fans of the series could use to find out info about characters and timeline events from the span of the series. This project showcases the power of using .Net Core API software to easily incorporate information stored in a database, into an MVC application. The curious Science Officer will find many fantastical adventures underneath the hood of this project and we encourage you to check out the repo.</p>
        </div>
    </div>
</div>
<div class="thanksWill">
    <h5><em>"We would like to give a very special thanks to Will Watkins. Without his advice during a very crutial point in the project, we would not have had the opportunity to incorporate many of our stretch goals. So we salute you sir! Will you are the MVP!"</em></h5>
</div>