@{
    ViewData["Title"] = "Home Page";
}


      <div class="timeline-parcours">
         <div class="container-info">
            <div class="timeline-section-tl">
               <div class="parcours-box parc1">
                  <div class="infobox date1">
                     <h3>Titre titre 1</h3>
                     <p class="subt-infobox">ceci est un test</p>
                     <p class="infobox-text">ceci est un court texte d'information par rapport à un évènement</p>
                  </div>
                  <div class="fleche-bloc"></div>
               </div>
            </div>
            <div class="timeline-section-tl">
               <div class="parcours-box parc2">
                  <div class="infobox date1">
                     <h3>Titre titre 2</h3>
                     <p class="subt-infobox">ceci est un test</p>
                     <p class="infobox-text">ceci est un court texte d'information par rapport à un évènement</p>
                  </div>
                  <div class="fleche-bloc"></div>
               </div>
            </div>
            <div class="timeline-section-tl">
               <div class="parcours-box parc3">
                  <div class="infobox date1">
                     <h3>Titre titre 3</h3>
                     <p class="subt-infobox">ceci est un test</p>
                     <p class="infobox-text">ceci est un court texte d'information par rapport à un évènement</p>
                  </div>
                  <div class="fleche-bloc"></div>
               </div>
            </div>
            <div class="timeline-section-tl">
               <div class="parcours-box parc4">
                  <div class="infobox date1">
                     <h3>Titre titre 4</h3>
                     <p class="subt-infobox">ceci est un test</p>
                     <p class="infobox-text">ceci est un court texte d'information par rapport à un évènement</p>
                  </div>
                  <div class="fleche-bloc"></div>
               </div>
            </div>
            <div class="timeline-section-tl">
               <div class="parcours-box parc5">
                  <div class="infobox date1">
                     <h3>Titre titre 5</h3>
                     <p class="subt-infobox">ceci est un test</p>
                     <p class="infobox-text">ceci est un court texte d'information par rapport à un évènement</p>
                  </div>
                  <div class="fleche-bloc"></div>
               </div>
            </div>
            <div class="timeline-section-tl">
               <div class="parcours-box parc6">
                  <div class="infobox date1">
                     <h3>Titre titre 6</h3>
                     <p class="subt-infobox">ceci est un test</p>
                     <p class="infobox-text">ceci est un court texte d'information par rapport à un évènement</p>
                  </div>
                  <div class="fleche-bloc"></div>
               </div>
            </div>
            <div class="timeline-section-tl">
               <div class="parcours-box parc7">
                  <div class="infobox date1">
                     <h3>Titre titre 7</h3>
                     <p class="subt-infobox">ceci est un test</p>
                     <p class="infobox-text">ceci est un court texte d'information par rapport à un évènement</p>
                  </div>
                  <div class="fleche-bloc"></div>
               </div>
            </div>
            <div class="timeline-section-tl">
               <div class="parcours-box parc8">
                  <div class="infobox date1">
                     <h3>Titre titre 8</h3>
                     <p class="subt-infobox">ceci est un test</p>
                     <p class="infobox-text">ceci est un court texte d'information par rapport à un évènement</p>
                  </div>
                  <div class="fleche-bloc"></div>
               </div>
            </div>
            <div class="timeline-section-tl">
               <div class="parcours-box parc9">
                  <div class="infobox date1">
                     <h3>Titre titre 9</h3>
                     <p class="subt-infobox">ceci est un test</p>
                     <p class="infobox-text">ceci est un court texte d'information par rapport à un évènement</p>
                  </div>
                  <div class="fleche-bloc"></div>
               </div>
            </div>
            <div class="timeline-section-tl">
               <div class="parcours-box parc10">
                  <div class="infobox date1">
                     <h3>Titre titre 10</h3>
                     <p class="subt-infobox">ceci est un test</p>
                     <p class="infobox-text">ceci est un court texte d'information par rapport à un évènement</p>
                  </div>
                  <div class="fleche-bloc"></div>
               </div>
            </div>
            <div class="timeline-section-tl">
               <div class="parcours-box parc11">
                  <div class="infobox date1">
                     <h3>Titre titre 11</h3>
                     <p class="subt-infobox">ceci est un test</p>
                     <p class="infobox-text">ceci est un court texte d'information par rapport à un évènement</p>
                  </div>
                  <div class="fleche-bloc"></div>
               </div>
            </div>
            <div class="timeline-section-tl">
               <div class="parcours-box parc12">
                  <div class="infobox date1">
                     <h3>Titre titre 12</h3>
                     <p class="subt-infobox">ceci est un test</p>
                     <p class="infobox-text">ceci est un court texte d'information par rapport à un évènement</p>
                  </div>
                  <div class="fleche-bloc"></div>
               </div>
            </div>
            <div class="timeline-section-tl">
               <div class="parcours-box parc13">
                  <div class="infobox date1">
                     <h3>Titre titre 13</h3>
                     <p class="subt-infobox">ceci est un test</p>
                     <p class="infobox-text">ceci est un court texte d'information par rapport à un évènement</p>
                  </div>
                  <div class="fleche-bloc"></div>
               </div>
            </div>
            <div class="timeline-section-tl">
               <div class="parcours-box parc14">
                  <div class="infobox date1">
                     <h3>Titre titre 14</h3>
                     <p class="subt-infobox">ceci est un test</p>
                     <p class="infobox-text">ceci est un court texte d'information par rapport à un évènement</p>
                  </div>
                  <div class="fleche-bloc"></div>
               </div>
            </div>
            <div class="timeline-section-tl">
               <div class="parcours-box parc15">
                  <div class="infobox date1">
                     <h3>Titre titre 15</h3>
                     <p class="subt-infobox">ceci est un test</p>
                     <p class="infobox-text">ceci est un court texte d'information par rapport à un évènement</p>
                  </div>
                  <div class="fleche-bloc"></div>
               </div>
            </div>
            <div class="timeline-section-tl">
               <div class="parcours-box parc16">
                  <div class="infobox date1">
                     <h3>Titre titre 16</h3>
                     <p class="subt-infobox">ceci est un test</p>
                     <p class="infobox-text">ceci est un court texte d'information par rapport à un évènement</p>
                  </div>
                  <div class="fleche-bloc"></div>
               </div>
            </div>
            <div class="timeline-section-tl">
               <div class="parcours-box parc17">
                  <div class="infobox date1">
                     <h3>Titre titre 17</h3>
                     <p class="subt-infobox">ceci est un test</p>
                     <p class="infobox-text">ceci est un court texte d'information par rapport à un évènement</p>
                  </div>
                  <div class="fleche-bloc"></div>
               </div>
            </div>
            <div class="timeline-section-tl">
               <div class="parcours-box parc18">
                  <div class="infobox date1">
                     <h3>Titre titre 18</h3>
                     <p class="subt-infobox">ceci est un test</p>
                     <p class="infobox-text">ceci est un court texte d'information par rapport à un évènement</p>
                  </div>
                  <div class="fleche-bloc"></div>
               </div>
            </div>
            <div class="timeline-section-tl">
               <div class="parcours-box parc19">
                  <div class="infobox date1">
                     <h3>Titre titre 19</h3>
                     <p class="subt-infobox">ceci est un test</p>
                     <p class="infobox-text">ceci est un court texte d'information par rapport à un évènement</p>
                  </div>
                  <div class="fleche-bloc"></div>
               </div>
            </div>
            <div class="timeline-section-tl">
               <div class="parcours-box parc20">
                  <div class="infobox date1">
                     <h3>Titre titre 20</h3>
                     <p class="subt-infobox">ceci est un test</p>
                     <p class="infobox-text">ceci est un court texte d'information par rapport à un évènement</p>
                  </div>
                  <div class="fleche-bloc"></div>
               </div>
            </div>
            <div class="timeline-section-tl">
               <div class="parcours-box parc21">
                  <div class="infobox date1">
                     <h3>Titre titre 21</h3>
                     <p class="subt-infobox">ceci est un test</p>
                     <p class="infobox-text">ceci est un court texte d'information par rapport à un évènement</p>
                  </div>
                  <div class="fleche-bloc"></div>
               </div>
            </div>
            <div class="timeline-section-tl">
               <div class="parcours-box parc22">
                  <div class="infobox date1">
                     <h3>Titre titre 22</h3>
                     <p class="subt-infobox">ceci est un test</p>
                     <p class="infobox-text">ceci est un court texte d'information par rapport à un évènement</p>
                  </div>
                  <div class="fleche-bloc"></div>
               </div>
            </div>
            <div class="timeline-section-tl">
               <div class="parcours-box parc23">
                  <div class="infobox date1">
                     <h3>Titre titre 23</h3>
                     <p class="subt-infobox">ceci est un test</p>
                     <p class="infobox-text">ceci est un court texte d'information par rapport à un évènement</p>
                  </div>
                  <div class="fleche-bloc"></div>
               </div>
            </div>
            <div class="timeline-section-tl">
               <div class="parcours-box parc24">
                  <div class="infobox date1">
                     <h3>Titre titre 24</h3>
                     <p class="subt-infobox">ceci est un test</p>
                     <p class="infobox-text">ceci est un court texte d'information par rapport à un évènement</p>
                  </div>
                  <div class="fleche-bloc"></div>
               </div>
            </div>
            <div class="timeline-section-tl">
               <div class="parcours-box parc25">
                  <div class="infobox date1">
                     <h3>Titre titre 25</h3>
                     <p class="subt-infobox">ceci est un test</p>
                     <p class="infobox-text">ceci est un court texte d'information par rapport à un évènement</p>
                  </div>
                  <div class="fleche-bloc"></div>
               </div>
            </div>
            <div class="timeline-section-tl">
               <div class="parcours-box parc26">
                  <div class="infobox date1">
                     <h3>Titre titre 26</h3>
                     <p class="subt-infobox">ceci est un test</p>
                     <p class="infobox-text">ceci est un court texte d'information par rapport à un évènement</p>
                  </div>
                  <div class="fleche-bloc"></div>
               </div>
            </div>
            <div class="timeline-section-tl">
               <div class="parcours-box parc27">
                  <div class="infobox date1">
                     <h3>Titre titre 27</h3>
                     <p class="subt-infobox">ceci est un test</p>
                     <p class="infobox-text">ceci est un court texte d'information par rapport à un évènement</p>
                  </div>
                  <div class="fleche-bloc"></div>
               </div>
            </div>
            <div class="timeline-section-tl">
               <div class="parcours-box parc28">
                  <div class="infobox date1">
                     <h3>Titre titre 28</h3>
                     <p class="subt-infobox">ceci est un test</p>
                     <p class="infobox-text">ceci est un court texte d'information par rapport à un évènement</p>
                  </div>
                  <div class="fleche-bloc"></div>
               </div>
            </div>
            <div class="timeline-section-tl">
               <div class="parcours-box parc29">
                  <div class="infobox date1">
                     <h3>Titre titre 29</h3>
                     <p class="subt-infobox">ceci est un test</p>
                     <p class="infobox-text">ceci est un court texte d'information par rapport à un évènement</p>
                  </div>
                  <div class="fleche-bloc"></div>
               </div>
            </div>
            <div class="timeline-section-tl">
               <div class="parcours-box parc30">
                  <div class="infobox date1">
                     <h3>Titre titre 30</h3>
                     <p class="subt-infobox">ceci est un test</p>
                     <p class="infobox-text">ceci est un court texte d'information par rapport à un évènement</p>
                  </div>
                  <div class="fleche-bloc"></div>
               </div>
            </div>
         </div>

         <div class="container-time-line">
            <div class="time-line-parcours">
               <div class="timeline-indicator">
                  <p class="indicator-val"></p>
               </div>
            </div>
         </div>
         <div class="container-bulle">
            <div class="timeline-section-tl">
               <div class="tl-round round1"></div>
            </div>
            <div class="timeline-section-tl">
               <div class="tl-round round2"></div>
            </div>
            <div class="timeline-section-tl">
               <div class="tl-round round3"></div>
            </div>
            <div class="timeline-section-tl">
               <div class="tl-round round4"></div>
            </div>
            <div class="timeline-section-tl">
               <div class="tl-round round5"></div>
            </div>
            <div class="timeline-section-tl">
               <div class="tl-round round6"></div>
            </div>
            <div class="timeline-section-tl">
               <div class="tl-round round7"></div>
            </div>
            <div class="timeline-section-tl">
               <div class="tl-round round8"></div>
            </div>
            <div class="timeline-section-tl">
               <div class="tl-round round9"></div>
            </div>
            <div class="timeline-section-tl">
               <div class="tl-round round10"></div>
            </div>
            <div class="timeline-section-tl">
               <div class="tl-round round11"></div>
            </div>
            <div class="timeline-section-tl">
               <div class="tl-round round12"></div>
            </div>
            <div class="timeline-section-tl">
               <div class="tl-round round13"></div>
            </div>
            <div class="timeline-section-tl">
               <div class="tl-round round14"></div>
            </div>
            <div class="timeline-section-tl">
               <div class="tl-round round15"></div>
            </div>
            <div class="timeline-section-tl">
               <div class="tl-round round16"></div>
            </div>
            <div class="timeline-section-tl">
               <div class="tl-round round17"></div>
            </div>
            <div class="timeline-section-tl">
               <div class="tl-round round18"></div>
            </div>
            <div class="timeline-section-tl">
               <div class="tl-round round19"></div>
            </div>
            <div class="timeline-section-tl">
               <div class="tl-round round20"></div>
            </div>
            <div class="timeline-section-tl">
               <div class="tl-round round21"></div>
            </div>
            <div class="timeline-section-tl">
               <div class="tl-round round22"></div>
            </div>
            <div class="timeline-section-tl">
               <div class="tl-round round23"></div>
            </div>
            <div class="timeline-section-tl">
               <div class="tl-round round24"></div>
            </div>
            <div class="timeline-section-tl">
               <div class="tl-round round25"></div>
            </div>
            <div class="timeline-section-tl">
               <div class="tl-round round26"></div>
            </div>
            <div class="timeline-section-tl">
               <div class="tl-round round27"></div>
            </div>
            <div class="timeline-section-tl">
               <div class="tl-round round28"></div>
            </div>
            <div class="timeline-section-tl">
               <div class="tl-round round29"></div>
            </div>
            <div class="timeline-section-tl">
               <div class="tl-round round30"></div>
            </div>
         </div>

      </div>

      <script type="text/javascript" src="script.js"></script>
      <script>
      

         function reste_a_faire()
         {
            return true;
         }

         if(reste_a_faire())
            console.log('rien n\'est fait');
         
      </script>