@{
    ViewData["Title"] = "Characters";
}

<div class="trekCharacters">
@foreach (Character character in Model)
{
  <div class="row">
    <div class="card">
      <h5><strong>@character.Name</strong></h5>
      <hr />
      <h6>@character.Bio</h6>
      <img src="@character.Image" alt="image">
    </div>
  </div>
}
</div> 